*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background: linear-gradient(to right, #6955CB 50%, #B152C3 80%);
}
.title{
  text-align: center;
  width: 50%;
  margin-left: 25%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: serif;
  font-size: 20px;
}
.form_container{
  background-color: white;
  border-radius: 5px;
  width: 70%;
  margin-top: 5%;
  margin-left: 15%;
  height: 500px;
}
.form_container .container{
  width: 80%;
  margin-left:10%;
  display:flex;
  justify-content: space-between;
  align-items: baseline;
  height: 100%;
}
.form_container .container figure{
  width: 50%;
  height: 80%;
  margin-top: 5%;
}
.form_container  .container figure img{
  width: 100%;
}
.form_container .container form{
  width: 40%;
  margin-top: 10%;
}
.form_container .container form .titulo{
  font-size: 10px;
  text-align: center;
  margin-bottom: 10%;
}
.form_container .container form input{
  width: 90%;
  height: 50px;
  background-color: #E6E6E6;
  border-radius: 25px;
  margin-bottom: 5%;
  border: 0;
  outline: none;
  border:  1px solid white;
  padding: 0 0 0 10%;
  transition:  background 100ms linear;
}
.form_container .container form input:focus{
  border:  1px solid black;
}
.form_container .container form .submit input{
  width: 100%;
  padding: 0;
  transition: background 100ms linear;
  font-size: 16px;
  background-color: #57B846;
  color: white;
  cursor: pointer;
}
.form_container .container form .submit input:hover{
  background-color: #333333;
}
.form_container .container form .list_registros button{
 height: 50px;
 border-radius: 25px;
 border: 0;
 padding: 0 10px 0 10px;
 cursor: pointer;
 background-color: #6955CB;
 transition: background 100ms linear;
 color: white;
}
.form_container .container form .list_registros button:hover{
  background-color: #B253C4;
}

/*LIST*/
div.list{
  background-color: white;
  border-radius: 5px;
  width: 70%;
  margin-left: 15%;
  height: 80%;
  overflow-y: auto;
}
.list table{
  width: 100%;
  border-collapse: collapse;
}
.list td {
  text-align: center;
}
.list th, td {
  padding: 15px;
}
.list th, td {
  border-bottom: 1px solid #ddd;
}
.list button{
  width: 80%;
  height: 30px;
  border-radius: 25px;
  outline: none;
  border: 0;
  cursor: pointer;
  color: white;
  transition: background 100ms linear;
}
.list button.edit{
  background-color: #57B846;
}
.list button.edit:hover{
  background-color: #333333;
}
.list button.ex{
  background-color: #b64f4f;
}
.list button.ex:hover{
  background-color: #333333;
}

/*AVISO*/

.notfound{
  text-align: center;
  width: 100%;
}
.notfound div{
  margin-bottom: 5%;
}
.notfound figure img{
  width: 30%;
}