<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD</title>
  <link rel="stylesheet" href="mvc/View/css/style.css">
  <script src="mvc/View/js/elements.js"></script>
  <script src="mvc/View/js/routes.js"></script>
  <script src="mvc/View/js/api.js"></script>
  <script src="mvc/View/js/form.js"></script>
  <script src="mvc/View/js/services.js"></script>
</head>

<body>
  <header>
    <h1>Sistem de CRUD simples</h1>
  </header>
  <div class="conteudo">
    <div class="box">
      <form action="#" id="form" method="post" onsubmit="return validation('c',0)">
        <h1 id='title'>Cadastrar usuario</h1>
        <hr>
        <br>
        <div>
          <label for="name">Nome:</label><br><input type="text" name="name" id="name" autocomplete="off"
            placeholder="Digite seu nome" maxlength="30"><br>
        </div>
        <div>
          <label for="year">Idade:</label><br><input type="number" name="year" id="year" autocomplete="off"
            placeholder="Digite sua idade" min="1" max="120">
        </div>
        <div>
          <input type="submit" value="Enviar" class="submit" id='submit'>
        </div>
      </form>
    </div>
    <div class="box">
      <table class="styled-table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Editar</th>
            <th>Excluir</th>
          </tr>
        </thead>
        <tbody id='tb'>
          <tr>

          </tr>
          <tr>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>