{% extends "layouts/default.twig" %}

{% block title %}
  Error
{% endblock %}

{% block content %}
  <div class="notfound">
    <div class="aviso">
      <h1>Página não encontrada</h1>
    </div>
    <figure>
      <img src="mvc/View/assets/img/error.png" alt="">
    </figure>
  </div>
{% endblock %}