<div class="content firts-contentens">
  <div class="container-table">
    <div class="basic_information">
      <h2>Informações básicas</h2>
    </div>
    <table>
      <thead>
        <tr>
          <th>Usuário</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Teste</td>
          <td>Teste@teste</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="content_btns">
    <button class="btn btn_excluir" id="excluir">
      Excluir
    </button>
    <button class="btn btn-second" id="logout">
      Log out
    </button>
  </div>
</div>