{% extends "layouts/default.twig"  %}

{% block title %}
  login adm
{% endblock %}

{% block content %}
<div class="content firts-contentens">
  <div class="firts-column">
    <h2 class="title title-welcome">Administração</h2>
    <br>
    <p class="description description-primary"> Essa parte é restrita</p>
    <br>
  </div>
  <div class="second-column">
    <h2 class="title title-second">Login adm</h2>
    <br>
    <p class="description description-second"> Fassa o seu login se tiver autorização </p>
    <form action="#" method="post" class="form" onsubmit = "return validar_login_adm()">

      <label class = "label-input" for="">
      <i class="fas fa-users icons"></i>
        <input type="text" name="name" id="Name" placeholder="Name" autocomplete="off">
      </label>
      <label  class = "label-input" for="">
      <i class="fas fa-key icons"></i>
        <input type="password" name="password" id="Senha" autocomplete="off" placeholder="Senha">
      </label>
      <button class="btn btn-second">Login</button>
    </form>
  </div>
</div>
{% endblock %}