*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Open Sans', sans-serif;
}
.slimphp{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecf0f1;
  height: 100vh;
}
.content{
  border-radius: 15px;
  background-color: white;
  width: 960px;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.content::before{
  content: "";
  position: absolute;
  background-color: #58af9b;
  width: 40%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.title{
  font: 28px;
  font-weight: bold;
  text-transform: capitalize;
}
.title-welcome{
  color: #fff;
}
.title-second{
  color: #58af9b;
}
.description{
  font: 14px;
  font-weight: 300;
}
.description-primary{
  color: #fff;
  line-height: 15px;
}
.description-second{
  color: #7f8c8d;
}
.btn{
  border-radius: 15px;
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
  padding: 10px 40px;
  cursor: pointer;
  font-weight: bold;
  width: 150px;
  align-self: center;
  border: none;
  margin-top:  1em;
}
.btn-primary{
  background-color: transparent;
  border: 1px solid #fff;
}
.btn-primary:hover{
  background-color: #fff;
  color: #58af9b;
}
.btn-second{
  background-color: #58af9b;
  color: #fff;
  border: 1px solid #58af9b;
}
.btn-second:hover{
  background-color: #fff;
  color: #58af9b;
}
.container .firts-contentens{
  display: flex;
}
.container .firts-contentens .firts-column{
  text-align: center;
  flex:  1 0 auto;
  z-index: 1;
}
.container .firts-contentens .second-column{
  flex:  2 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .firts-contentens .ul-social-midia{
  display: flex;
}
.form{
  display: flex;
  flex-direction: column;
  width: 55%;
}
.form input{
  height: 45px;
  border: none;
  background-color: #ecf0f1;
  outline: none;
  width: 100%;
}
.form .label-input{
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  margin: 8px;
}
.form .icons{
  color: #7f8c8d;
  padding: 0 5px;
}
.ul-social-midia{
  display: flex;
  list-style: none;
  margin:  1em 0; 
}
.ul-social-midia li{
  border: 1px solid #95a5a6;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
}
.ul-social-midia a:not(:first-child){
  margin-left: 10px;
}
.ul-social-midia a{
  color: #95a5a6;
}
.ul-social-midia a li:hover{
  background-color: #58af9b;
  color: #fff;
  border: 1px solid #58af9b ;
}

/* HOME */

.container_user{
  border-radius: 15px;
  background-color: white;
  width: 960px;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container_user .head .icon{
 margin-top: -20%;
 border-radius: 50%;
 width: 100px;
  height: 100px;
  margin-left: 40%;
 background-color: #58af9b;
}
.container_user .head .title {
  margin:  1em 0; 
}
.container_user .description {
  font: 14px;
  color: #7f8c8d;
  font-weight: 300;
}
.container_user .user{
  width: 50%;
  text-align: center;
}
.container_info{
  position: absolute;
  z-index: 1;
  border-radius: 15px;
  background-color: white;
  width: 960px;
  height: 70%;
  align-items: center;
  display: none;
}
.container_info .container-table{
  width: 80%;
  margin-left: 10%;
  height: 70%;
  border: 1px solid #95a5a6;
  border-radius: 15px;
}
.container_info .basic_information{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.icon-back{
  padding: 10px;
  border-radius: 50%;
  margin: 8px;
  background-color: #58af9b;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}
.icon-back:hover{
  background-color: #fff;
  color: #58af9b;
  border: 1px solid #58af9b;
}
table {
  width: 90%;
  margin-left: 5%;
  height: 50%;
  margin-top: 5em;
}
table, th, td {
  border-bottom: 1px solid #95a5a6;
  border-collapse: collapse;
}
th {
  padding: 5px;
  text-align: left;
}
td{
  text-align: right;
}
td .show_password{
  padding: 10px;
  border-radius: 50%;
  margin: 8px;
  background-color: #7f8c8d;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}
td input{
  text-align: right;
  padding: 5x;
  border: 0;
  font-size: 16px;
  pointer-events: none;
}
.container_info .show_password:hover{
  background-color: #fff;
  color: #7f8c8d;
  border: 1px solid #7f8c8d;
}
.container_info .content_btns{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.container_info .content_btns .btn:not(:first-child){
  margin-left: 1em;
}
.btn_editar{
  padding: 5px;
  cursor: pointer;
  margin-left: 5px;
} 
.btn_excluir{
  background-color: rgb(197, 40, 40);
}
.btn_excluir:hover{
  background-color: #fff;
  color: rgb(197, 40, 40);
  border: 1px solid rgb(197, 40, 40);
}
/*EDITAR*/

.content_editar{
  border-radius: 15px;
  background-color: white;
  width: 960px;
  height: 60%;
}
.content_editar .head{
  display: flex;
  align-items: center;
}
.contaienr_description{
  margin: 20px;
}
.container_form{
  width: 50%;
  height: 100%;
}
.container_form .form_editar{
  border-radius: 15px;
  border:  1px solid #7f8c8d;
  padding: 20px;
  margin-left: 5px;
  height: 50%;
}
.form_editar p{
  width: 100%;
  height: 50px;
  color: #7f8c8d;
  font-size: 12px;
}
.form_editar fieldset{
  padding: 10px;
  border-radius: 10px;
}
.form_editar input{
  width: 90%;
  height: 30px;
  border: 0;
  outline: none;
  cursor: pointer;
}
.form_editar .btns_editar{
  margin-top: 10%;
}
.btn_salvar{
  background-color: cornflowerblue;
  border: 1px solid transparent;
}
.btn_salvar:hover{
  background-color: rgb(71, 121, 212);
  color: cornflowerblue;
  border: 1px solid cornflowerblue;
}
.btn_cacelar{
  background-color: white;
  border:  1px solid cornflowerblue;
  color: cornflowerblue;
}
.btn_cacelar:hover{
  background-color: rgb(147, 179, 238);
  color: white;
  border: 1px solid transparent;
}

/*ADM*/

.container-adm{
  border-radius: 15px;
  background-color: white;
  width: 960px;
  height: 70%;
  align-items: center;
}
.container-adm .container-table{
  width: 80%;
  margin-left: 10%;
  height: 70%;
  border: 1px solid #95a5a6;
  border-radius: 15px;
  margin-top: 5%;
  display: block;
  overflow-y: auto;
}
.container-adm .basic_information{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.container-adm table, th, td {
  border-bottom: 1px solid #95a5a6;
  border-collapse: collapse;
}
.container-adm table {
  height: 50%;
}
.container-adm th {
  padding: 5px;
  text-align: left;
}
.container-adm td{
  text-align: left;
  height: 70px;
}
.container-adm .content_btns{
  text-align: center;
}
